In [157]:
import pandas as pd

In [221]:
def read_df(year):
    csv_name = 'dst'+year+'_hv.txt'

    df = pd.read_csv(csv_name, header=None)

    df['Дата'] = year + '-' + df[0].astype(str).str[5:7] + '-' + df[0].astype(str).str[8:10]

    df['Базисное значение'] = df[0].astype(str).str[17:20]

    df['Базисное значение'] = pd.to_numeric(df['Базисное значение'])

    df['Среднесуточное значение'] = df[0].astype(str).str[-3:]

    df['Среднесуточное значение'] = pd.to_numeric(df['Среднесуточное значение'])

    l = 21
    r = 24

    for x in range(25):
        df[str(x) + ':00'] = df[0].astype(str).str[l:r]
        df[str(x) + ':00'] = pd.to_numeric(df[str(x) + ':00'])
        l += 4
        r += 4

    df.drop([0], axis = 1, inplace = True)
    
    return df

In [222]:
def make_year_df(df):

    df1 = pd.DataFrame(columns=['Дата','Базисное значение','Среднесуточное значение', 'Текущее значение'])

    day_number = 0

    count = 0

    while day_number < len(df.index):

        for hour in range(25):
            df1.loc[count] = pd.Series({'Дата':df['Дата'][day_number] + ' ' + str(hour) + ':00', 'Базисное значение':df['Базисное значение'][day_number], 'Среднесуточное значение':df['Среднесуточное значение'][day_number], 'Текущее значение':df[str(hour) + ':00'][day_number]})

            count += 1

        day_number += 1
    
    return df1

In [226]:
df = pd.DataFrame()
for i in range(1957, 2015):
    df_year = make_year_df(read_df(str(i)))
    df = pd.concat([df, df_year], ignore_index=True)

In [228]:
df.to_csv('dst_data.csv', index=False)

In [229]:
df

,Дата,Базисное значение,Среднесуточное значение,Текущее значение
0,1957-01-01 0:00,0,4,11
1,1957-01-01 1:00,0,4,13
2,1957-01-01 2:00,0,4,12
3,1957-01-01 3:00,0,4,12
4,1957-01-01 4:00,0,4,9
...,...,...,...,...
529595,2014-12-31 20:00,0,-17,-27
529596,2014-12-31 21:00,0,-17,-27
529597,2014-12-31 22:00,0,-17,-23
529598,2014-12-31 23:00,0,-17,-23
529599,2014-12-31 24:00,0,-17,-17